.navbarBrandText {
    font-size: 1.6rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 1rem;
    font-family: var(--font-display);
}

.navbarLink {
    font-size: 1.1rem;
    font-weight: 400;
    text-decoration: none;
    font-family: var(--font-body);
    background: none !important;
}

.navbarCollapse {
    background: none !important;
    background-color: rgba(0, 0, 0, 0) !important;
}