@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS variables */

:root {
    --fbla-light-blue: "#1D52BC";
    --fbla-dark-blue: "#0A2E7F";
    --fbla-yellow: "#FFA800";

    --font-display: "arboria", "poppins", "roboto", "helvetica", "arial", sans-serif;
    --font-body: "sofia-pro", "poppins", "roboto", "helvetica", "arial", sans-serif;
}

html {
    background-image: url("/img/vector/grid.svg");
    background-repeat: repeat;
    background-size: 30px;
}